# Day 10 - Book retriever

API used: https://openlibrary.org/developers/api

The API wasn't as good as I had hoped, as only 12 books are retrieved from each API call.

In [168]:
import requests
import pandas as pd

def retrieve_books_subject(subject):
    # API URL
    url = f"https://openlibrary.org/subjects/{subject}"
    
    params = {
        "details" : "true" # In order to receive author information
    }

    headers = {
        "accept": "application/json" # To specify json output format
    }

    # Get reponse to API
    response = requests.get(url, headers=headers, params=params)
    if response.status_code != 200:
        return print("API call failed")

    # Store response as json format
    data = response.json()
    if int(data["work_count"]) == 0:
        return print("No books in this category. Please search for another category")

    # Initialize books for later use
    books = []

    # Iterate through json object to retrieve specific information (title and author)
    for keys in data["works"]:
        # Store title of each book
        title = keys["title"]
        authors = []
        for key in keys["authors"]:
            # Append each author to a list
            authors.append(key["name"])

        # Insert title and authors into books variable
        books.append({"title" : title, "authors" : authors})

    # Make list into dataframe
    df_books = pd.DataFrame(books)

    # Remove square brackets from authors columns
    df_books["authors"] = df_books["authors"].apply(lambda x: ", ".join(x))

    # Return dataframe of fetched books for display
    return df_books

In [169]:
retrieve_books_subject("math")

,title,authors
0,Weapons of Math Destruction,Cathy O'Neil
1,Everything and more,David Foster Wallace
2,Precalculus,"Mustafa A. Munem, M. A. Munem, J. P. Yizze, Ja..."
3,Realm of numbers,Isaac Asimov
4,Realm of algebra,Isaac Asimov
5,Tutorium Analysis 1 und Lineare Algebra 1,"Florian Modler, Martin Kreh"
6,An Easy Introduction to the Slide Rule,Isaac Asimov
7,"Science, Numbers, and I",Isaac Asimov
8,The Man of Numbers,Keith J. Devlin
9,Essential Mathematics,D. Franklin Wright
10,The sub,"P. J. Petersen, Meredith Johnson"
11,Beyond infinity,Eugenia Cheng

In [170]:
retrieve_books_subject("machine learning")

,title,authors
0,Advanced Computing and Systems for Security,"Rituparna Chaki, Agostino Cortesi, Khalid Saee..."
1,Advances in artificial intelligence,Canadian Society for Computational Studies of ...
2,Machine Learning Paradigms,"Aristomenis S. Lampropoulos, George A. Tsihrin..."
3,Machine Learning and Data Mining in Pattern Re...,"Petra Perner, Atsushi Imiya"
4,First Course in Machine Learning,"Simon Rogers, Mark Girolami"
5,Introduction to machine learning with applicat...,Mark Stamp
6,Machine Learning and Knowledge Discovery in Da...,"Albert Bifet, Michael May, Bianca Zadrozny, Ri..."
7,Perceptrons,"Marvin Minsky, Seymour Papert, Léon Bottou"
8,Machine Learning and Knowledge Discovery in Da...,"Hendrik Blockeel, Kristian Kersting, Siegfried..."
9,Introduction to machine learning and bioinform...,"Sushmita Mitra, Sujay Datta, Theodore Perkins,..."
10,"Big Data, Data Mining, and Machine Learning",Jared Dean
11,Machine Learning,Jason Bell

In [171]:
retrieve_books_subject("Japanese litterature")

No books in this category. Please search for another category